body 
{
 background-color: #FFFFFF;
 font-family: Tahoma, sans-serif;
 font-size: 14px;
}

.freeplayer {
	background-color: green;
	cursor:pointer;
	margin: 2px;
	padding:5px 5px 5px 20px;
}

.playerplay {
	background-color: red;
	cursor:crosshair;
	margin: 2px;
	padding:5px 5px 5px 20px;
}

.playerpending {
	background-color: yellow;
	cursor:crosshair;
	margin: 2px;
	padding:5px 5px 5px 20px;
}


.playerdisabled {
	background-color: grey;
	cursor:crosshair;
	margin: 2px;
	padding: 5px;
}

.servermsg {
	color: gray;
}

#userlist {
	float:left;width:100px;border-right:1px solid black;height:300px;padding:10px;overflow:scroll-y;
}

#gamechatlist {
float:left;width:300px;height:300px;overflow:scroll-y;padding:10px;
}

.square {
 margin: 2px;
 border: 2px solid #000;
 width: 100px;
 height: 100px;
 cursor:pointer;
}

#currentlogo {
 margin: 2px;
 width: 25px;
 height: 25px;

}

#close{
	position:absolute; top:10px; right:10px; width:70px; height:70px;
	width: 25px;
	height: 25px;
 cursor:pointer;
}

.row {
 
 	display: -webkit-flex;
 	display: flex;
	-webkit-flex-flow: row;
	flex-flow: row;
}

.board-visible{
	display:inline;
}

#game {
float:left;width:300px;height:300px;overflow:scroll-y;padding:10px;
}

#scorebox {
float:left;width:300px;height:300px;overflow:scroll-y;padding:10px;
}

#content {
    width: 100%;
    margin: auto auto;
}

#choicebox-visible{
    width: 100%;
    margin: auto auto;
	background: #aaaaaa;
	text-align: center;
	border: 1px solid;
	padding: 5px;
}


#info-visible{
    width: 100%;
    margin: auto auto;
	background: #aaaaaa;
	text-align: center;
	border: 1px solid;
	padding: 5px;
}
.info, .success, .warning, .error, .validation, .nomsg {
border: 1px solid;
margin: 10px 0px;
padding:15px 10px 15px 50px;
background-repeat: no-repeat;
background-position: 10px center;
}
.nomsg {
border: 0px solid;
height: 20px;

}
.info {
color: #00529B;
background-color: #BDE5F8;
background-image: url('../images/info.png');
}
.success {
color: #4F8A10;
background-color: #DFF2BF;
background-image:url('../images/success.png');
}
.warning {
color: #9F6000;
background-color: #FEEFB3;
background-image: url('../images/warning.png');
}
.error {
color: #D8000C;
background-color: #FFBABA;
background-image: url('../images/error.png');
}

.login-card {
  padding: 40px;
  width: 274px;
  background-color: #F7F7F7;
  margin: 0 auto 10px;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.login-card h1 {
  font-weight: 100;
  text-align: center;
  font-size: 2.3em;
}

.login-card input[type=button] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.login-card input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.login-card input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}


.login, .register {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
  width:100%;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.login-submit, .register-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.login-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.login-card a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-card a:hover {
  opacity: 1;
}

.login-help {
  width: 100%;
  text-align: center;
  font-size: 12px;
}